body {
    padding: 0; /* Add some padding for better visual appearance */
    margin: 0; /* Remove any default margin */
}

header {
    background-color: #333; /* Set background color */
    color: white; /* Set text color */
    padding-top: 10px; /* Add some padding for better visual appearance */
    padding-bottom: 10px; /* Add some padding for better visual appearance */
    margin: 0; /* Remove any default margin */
    display: flex; /* Use flexbox layout */

    position: absolute;
    top: 0;
    width: 100%; /* Make the header extend from left to right */
    display: block; /* Make it a block-level element */
}

header h1 {
    flex: 1; /* Allow the title to take up remaining space */
    display: inline;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 10px;
    font-size: 50px;
}

header img {
    float: left;
    width: 40px;
    height: 40px;
    display: inline;
    margin: 10px;
    order: -1;
}

header a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    
    /* Positioning properties */
    position: absolute;
    top: 10px;
    right: 10px;
}

.Basic_Overview {
    margin-top: 100px;
}

.title {
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 35px; 
}

.sub_info {
    margin-left: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
}

.CallCount {
    margin-left: 10px;
    margin-top: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    font-weight: bold;
    font-style: italic;

    position: absolute;
    right: 10px;
}

.company_description {
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px; 
}

.Basic_Charts {
    padding-left: 10px;
    padding-top: 30px;
}

#Timeframe_buttons {
    text-align: center; /* Center the text within the div */
}

#Timeframe_buttons .button {
    margin: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px; 
    display: inline-block; /* Optional: Align buttons horizontally */
}