<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AkitaAnalytics</title>
        <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    </head>
    <body>
        <h1>Enter a Ticker Symbol:</h1>
        <form action= "/symbolProcess" method = "get">
            <input type="text" id="tickerInput" name="symbol" 
            placeholder="Ex. AAPL" required>
            <button type="submit">Get Information</button>
        </form>
    </body>
</html>