<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AkitaAnalytics</title>
        <link rel="stylesheet" href="/static/index.css">
        <!-- <link rel="icon" type="image/x-icon" href="./images/favicon.png"> -->
    </head>
    <body>
        <header>
            <img id="logo" src="/static/favicon.png" alt="AkitaAnalytics Logo">
            <h1>AkitaAnalytics</h1>
        </header>
        <h1>Enter a Ticker Symbol</h1>
        <form id="search-container" action= "/symbolProcess" method = "get">
            <input id="tickerInput" type="text" name="symbol" placeholder="Ex. AAPL" required>
            <!--<button id="button" type="submit">-></button>-->
        </form>
        <!-- Display the alert message if it exists -->
        {% if alert_message %}
        <div id="alert_message">
            {{ alert_message }}
        </div>
        {% endif %}
    </body>
</html>