<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AkitaAnalytics</title>
        <link rel="stylesheet" href="/static/stock_info.css">
    </head>
    <body>
        <a href="/">Home</a>

        <div class="Basic_Overview">
            <div id="title"></div>
            <div id="sub_info"></div>
            <!-- <div id="price"></div> -->
            <!-- <div id="price_sub_info"></div> -->
            <div id="company_description"></div>
            <!-- Basic Company Overview displayed here -->
        </div>
        <div class="Basic_Charts">
            <!-- Basic data displayed in charts here -->
            <div id="CallCount"></div>
            <canvas id="StockChart"></canvas>
        </div>
        <div id="Timeframe_buttons">
            <button class="button" id="btn-1day">1 Day</button>
            <button class="button" id="btn-5days">5 Days</button>
            <button class="button" id="btn-1month">1 Month</button>
            <button class="button" id="btn-ytd">YTD</button>
            <button class="button" id="btn-1year">1 Year</button>
            <button class="button" id="btn-5year">5 Year</button>
            <button class="button" id="btn-allTime">All Time</button>
            <!-- Add more buttons for other timeframes as needed -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/stock_info.js"></script>
    </body>
</html>